.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}


/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	background: #101010;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #f3f3f3;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

h1 { 	font-size: 1px; 
	color: #101010;
}

h2 {
	margin-bottom: 0px;
	padding: 0 0 10px 0;
	font-size: 24px;
}

h3 {
	padding: 0 0 0px 0;
	font-size: 13px;
}

p {
	margin-top: 0;
	text-align: justify;
	line-height: 160%;
}

a {
	color: #ffff00;
}

a:hover {
	text-decoration: none;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list li {
	padding: 5px 0;
	background: url(../images/img5.gif) repeat-x;
}

.list li.first {
	background: none;
}

/* Header */

#header {
	width: 800px;
	margin: 0 auto;
	padding: 0 0 0 0;
	height: 1px;
}

#header h1 {
	float: left;
}

#header h2 {
	display: none;
}

#header ul {
	float: right;
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;
}

#header li {
	display: inline;
}

#header a {
	display: block;
	float: left;
	padding: 0 0 0 0;
	text-decoration: none;
	font: bold 12px Georgia, "Times New Roman", Times, serif;
	color: #101010;
}

#header a:hover {
	text-decoration: underline;
}

#header .first a {
	background: none;
}

/* Content */

#content {
	width: 850px;
	margin: 0 auto;
}

#colOne {
	float: left;
	width: 100px;
	padding: 20px 0 0 0px;
}

#colOne dd {
  margin-left: 10px;
  margin-bottom: 5px;
}

#colTwo {
	float: right;
	width: 650px;
	padding: 0 20px 0 0;
}

#colTwo table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-collapse: collapse;
	border-style: solid solid solid solid;
	border-color: #ffffff #ffffff #ffffff #ffffff;
	background-color: #101010;
}

#colTwo table th {
	border-width: 1px 1px 1px 1px;
	padding: 4px 4px 4px 4px;
	border-collapse: collapse;
	border-style: solid solid solid solid;
	border-color: rgb(138, 138, 138) rgb(138, 138, 138) rgb(138, 138, 138) rgb(138, 138, 138);
	background-color: ;
	-moz-border-radius: 3px 3px 3px 3px;
}
#colTwo table td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-collapse: collapse;
	border-style: solid solid solid solid;
	border-color: rgb(138, 138, 138) rgb(138, 138, 138) rgb(138, 138, 138) rgb(138, 138, 138);
	background-color: ;
	-moz-border-radius: 3px 3px 3px 3px;
}

/* Footer */

#footer {
	clear: both;
	width: 600px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

#footer p {
	padding: 20px 0 0 0;
	text-align: center;
	color: #000;
}



/* Rails stuff */

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #101010;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #101010;
  color: #000;
}

#errorExplanation p {
  color: #000;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


