<!DOCTYPE html>

<!--
Design based on Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>View in Google Sky - Nonprofit Adopt a Star</title>
  <%= stylesheet_link_tag '/stylesheets/scaffold' %>
  <meta name="description" content="Buy neighboring stars for friends and family, and share your star on social media. All stars were observed by NASA space telescopes in a search for planets." />
<%= yield :header %>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PD2G86" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PD2G86');</script>
  <!-- End Google Tag Manager --> 
</head>
<body onload="initialize()">

<div id="content">
  
  <%= yield  %>

</body>
</html>
